<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>Gamestore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageServerlet</display-name>
    <servlet-name>HomePageServerlet</servlet-name>
    <servlet-class>com.gamestore.HomePageServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServerlet</servlet-name>
    <url-pattern>/HomePageServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameDetailsServerlet</display-name>
    <servlet-name>GameDetailsServerlet</servlet-name>
    <servlet-class>com.gamestore.GameDetailsServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameDetailsServerlet</servlet-name>
    <url-pattern>/GameDetailsServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGameServerlet</display-name>
    <servlet-name>AddGameServerlet</servlet-name>
    <servlet-class>com.gamestore.AddGameServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameServerlet</servlet-name>
    <url-pattern>/AddGameServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServerlet</display-name>
    <servlet-name>DeleteServerlet</servlet-name>
    <servlet-class>com.gamestore.DeleteServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServerlet</servlet-name>
    <url-pattern>/DeleteServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameUpdateServerlet</display-name>
    <servlet-name>GameUpdateServerlet</servlet-name>
    <servlet-class>com.gamestore.GameUpdateServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameUpdateServerlet</servlet-name>
    <url-pattern>/GameUpdateServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMobileGameServerlet</display-name>
    <servlet-name>AddMobileGameServerlet</servlet-name>
    <servlet-class>com.gamestore.AddMobileGameServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMobileGameServerlet</servlet-name>
    <url-pattern>/AddMobileGameServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServerlet</display-name>
    <servlet-name>AdminLoginServerlet</servlet-name>
    <servlet-class>com.gamestore.AdminLoginServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServerlet</servlet-name>
    <url-pattern>/AdminLoginServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestClass</display-name>
    <servlet-name>TestClass</servlet-name>
    <servlet-class>com.gamestore.TestClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestClass</servlet-name>
    <url-pattern>/TestClass</url-pattern>
  </servlet-mapping>  
</web-app>